<!DOCTYPE html>

<html>
	<head>
		<title> Linear Independence </title>

	</head>

	<body>
		<header>
			<h1>Linear Independence</h1>
		</header>

		<p>
			<u1>
				<form action="generate_matrix/" method="post">
				{%csrf_token%}
					<li>
						Choose your Vector Space: V =
						<select name='vspace' id="vspace">
							<option value></option>
							<option value="1">R1</option>
							<option value="2">R2</option>
							<option value="3">R3</option>
							<option value="4">R4</option>
							<option value="5">R5</option>
							<option value="6">R6</option>
							<option value="7">R7</option>
						</select>
					</li>
					<li>
						Choose number of vectors: n =
						<select name="numvectors" id="numvectors">
							<option value></option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
						</select>
					</li>
					<input type="submit">
				</form>
			</u1>

		</p>

	</body>
</html>