<!DOCTYPE html>

<html>
	<head>
		<title>vectors</title>

	</head>

	<body>
		<header>
			<h1>Linear Independence</h1>
		</header>

		<p>
			<!-------Take input from user by generating text boxes---->
			<form action="determination/" method="post">
			{% for vect in vector %}

				<b>x{{vect}}: </b> {{"("}}
				{% for space in vspace%}
					 <input type="text" id="fname" name="fname_{{vect}}_{{space}}}">
				{% endfor %}
				{{")"}}<br><br>
			{% endfor %}
			<u1>
			<!-- {%csrf_token%} -->
			<input type="submit">
			</form>
			</u1>
		</p>

	</body>
</html>